* {
    margin: 0;
    padding: 0;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.navbar {
    background-color: #FD6569;
    border-radius: 10px;
    padding: 5px;
}

#left {
    position: absolute;
    color: white;
    right: 10px;
    top: 10px;
}

.container {
    padding: 10px;
}

.book-container {
    width: 30%;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.book-container h1 {
    color: #FD6569;
}

.book-container button {
    background-color: #FD6569;
    color: black;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 10px;
    width: 40%;
    margin-top: 10px;
    padding: 5px;
}

.add-button {
    background-color: #FD6569;
    color: white;
    font-size: 39px;
    font-weight: bold;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.popup-overlay {
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}

.popup-box {
    width: 40%;
    background-color: #FD6569;
    padding: 40px;
    border-radius: 20px;
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 30%;
    display: none;
}

.popup-box h2 {
    text-align: center;
}

.popup-box input,
textarea {
    background-color: transparent;
    font-size: 20px;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid black;

}

.popup-box textarea {
    border: 2px solid black;
}

.popup-box button {
    background-color: black;
    align-content: center;
    color: #FD6569;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
}

.popup-box input::placeholder,
textarea::placeholder {
    color: black
}

.popup-box input:focus,
textarea:focus {
    outline: none;
}